.about__bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(../../../img/react.jpeg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  filter: brightness(0.3);
}